<div>
  Hi There..Reactive Form it is..
</div>
<div class="container">
  <div class="row">
  <div class="form-bg">
    <form [formGroup] = 'signupForm' (ngSubmit)="Register(signupForm)">
      <h2 class="text-center">
        Registration Page
      </h2>
      <br>
      <div class="form-group">
        <input type="text" placeholder="First Name" formControlName="fname">
        <span *ngIf="signupForm.controls['fname'].hasError('required')">
          First-name required!
        </span>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Last Name" formControlName="lname">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Email" formControlName="email" maxlength="10">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Password" formControlName="password">
      </div>
      <input type="submit" value = "Register Data" [disabled]="signupForm.invalid">
      <button (click)="resetForm()">Reset</button>
      <button (click)="fillData()">Fill Data</button>
      <button (click)="patchData()">Patch Data</button>
    </form>
  </div>
</div>
</div>